* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Common Style */
.bg-color {
  background-color: #000a08;
}
.planner-bg {
  background-color: #161616;
}
.text-color {
  color: #0db59b;
}

.card-title {
  font-size: 25px;
}

.mobile-btn {
  padding: 10px 40px;
  border: 3px solid white;
  border-radius: 8px;
  background-color: transparent !important;
  color: white;
}

.title {
  font-size: 45px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
}

/* Navbar Style */
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0px 20px;
  font-weight: 300;
}

.schedule-btn {
  padding: 10px 40px;
  border: 2px solid #0db59b;
  border-radius: 10px;
  background-color: transparent;
  color: #0db59b;
  font-size: 18px;
}

.navbar-toggler-icon {
  color: white;
}

/* Home Style */
#home-section {
  background-image: url("./assets/images/home_bg_image.png");
  background-color: #000a08 !important;
}

.title span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: #0db59b;
}

.home-subtitle {
  font-size: 20px;
  font-weight: 200;
}

.home-map {
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  opacity: 30%;
}

// Scrolling Style
#scrolling-section p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
}

#scrolling-section p span {
  font-size: 30px;
}

.scrolling-inner {
  white-space: nowrap;
}

.scrolling-item {
  padding: 0px 100px;
}

.scrolling-inner > div {
  animation: var(--direction) var(--marquee-speed) linear infinite;
}

.scrolling-container:hover .scrolling-inner > div {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

// Planner Section
.planner-next {
  background-color: #0db59b2b;
  width: 100px;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  #home-section {
    margin-top: 50px;
    padding: 30px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar {
    padding: 20px 50px;
  }
  #home-section {
    margin-top: 90px;
    padding: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    min-height: 100px;
    padding: 30px 50px;
  }
  #home-section {
    margin-top: 110px;
    padding: 50px;
  }
  #planner-section {
    padding: 50px;
  }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  #home-section {
    background-image: none !important;
  }
  .home-map {
    height: 300px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-inner,
  .home-map {
    height: 100% !important;
  }
  #home-section {
    height: 600px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .navbar {
    padding: 30px 150px;
  }
  #home-section,
  #planner-section {
    padding: 50px 150px !important;
  }
}
