
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
:root {
  --bs-primary: black;
  --bs-primary-rgb: 0, 0, 0;
  --bs-secondary: #00c09b;
  --bs-secondary-rgb: 0, 192, 155;
}
.card-img-top{
  height:250px;
}



.page-content {
  padding-inline: 50px;
  padding-top: 50px;
  padding-bottom: 10px;

  /* height: 100vh; */
  overflow: auto;
}

.heatmap-image {
  width: 100%;
  height: 400px;
}

.image-analysis {
  max-height: 400px;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.bordered-text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.opacity-70 {
  opacity: 0.7;
}

.new-casestudy-images {
  height: 600px;
  width: 100%;
}

.remove-bg {
  mix-blend-mode: color-dodge;
}

.img-cont {
  background-color: transparent;
  position: relative;
}

.img-cont img {
  margin: 0 auto;
  margin-bottom: 8px;
}

.img-fluid {
  min-height: 300px;
}

.news-image {
  max-height: 400px;
  max-width: 100%;
  margin: 10px 0px;
}



.showMsgButton {
  border: 4px solid gray;
  padding: 7px 15px;
  margin-left: 20px;
}

.w-2 {
  width: 2%;
  height: 100%;
}

.spacing {
  padding-top: 100px;
  padding-bottom: 40px;
}




.team-image1 {
  height: 340px;
}

.team-image2 {
  height: 162px;
}

.our-team-section {
  width: 50%;
}

.our-team-font {
  font-size: 20px;
}

.steps12-image {
  height: 200px;
}

.text-truncate-2 {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

/* For Mozilla Firefox */
::-moz-scrollbar {
  width: 1px;
}

::-moz-scrollbar-thumb {
  background-color: lightgray;
}

@media only screen and (max-width: 500px) {
  .new-casestudy-images,
  .heatmap-image {
    height: 250px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .our-team-section {
    width: 100%;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1330px) {
  .our-team-font {
    /* font-size: 15px; */
  }

  .team-image1 {
    height: 300px;
  }

  .team-image2 {
    height: 140px;
  }
}



/* Common Style */
.bg-color {
  background-color: #000a08;
}

.schedule-btn {
  padding: 5px 20px;
  border: 2px solid #0db59b;
  border-radius: 10px;
  background-color: transparent;
  color: #0db59b;
  font-size: 18px;
}

.text-color {
  color: #0db59b;
}





/* Navbar Style */
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0px 20px;
  font-weight: 300;
}

.schedule-btn {
  padding: 10px 40px;
  border: 2px solid #0db59b;
  border-radius: 10px;
  background-color: transparent;
  color: #0db59b;
  font-size: 18px;
}

.navbar-toggler-icon {
  color: white;
}






/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and down) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar {
    padding: 20px 50px;
  }
  
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    min-height: 100px;
    padding: 30px 50px;
  }
  
  
}


/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .navbar {
    padding:30px 50px;
  }
 
}


/* Home Style */
#home-section {
  background-image: url("./assets/images/home_bg_image.png");
  background-color: #000a08 !important;
}

.text-border{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: #0db59b;
}

.home-subtitle {
  font-size: 20px;
  font-weight: 200;
}

.home-map {
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  opacity: 30%;
}

#scrolling-section{
  background-color: white !important;;
}

.scrolling-inner {
  white-space: nowrap;
}

.scrolling-item {
  padding: 0px 100px;
}

.scrolling-inner > div {
  animation: var(--direction) var(--marquee-speed) linear infinite;
}

.scrolling-container:hover .scrolling-inner > div {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.planner-next {
  background-color: rgba(13, 181, 155, 0.168627451);
  width: 100px;
}

/* Main heading  */
.main-heading{
  font-size: 56px;
}


.awarad-image{
  margin: 0 22px;
}


@media only screen and (max-width: 767px) {
  .flex-container{
    display: flex;
    align-items: start;
  }

}




/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  #home-section {
    margin-top: 50px;
    padding: 30px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar {
    padding: 20px 50px;
  }
  #home-section {
    margin-top: 90px;
    padding: 30px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    min-height: 100px;
    padding: 30px 50px;
  }
  #home-section {
    margin-top: 110px;
  }
  #planner-section {
    padding: 50px;
  }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  #home-section {
    background-image: none !important;
  }
  .home-map {
    height: 300px !important;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-inner,
  .home-map {
    height: 100% !important;
  }
  #home-section {
    height: 600px;
  }
}


/* main heading */


@media (max-width: 576px) {
  .main-heading{
    font-size: 25px;
  }
}



